.display-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.player-container {
  display: grid;
  grid-template-rows: 15vh 50vh 5vh 30vh;
  height: 100vh;
  background-color: rgb(15, 15, 63);
}

.info-bar {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  height: 3rem;
}

.info-bar .title {
  width: 58vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.info-bar .back-button {
  --background: #cd2e2e !important;
}

.audio-title {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  justify-content: center;
}

.audio-title ion-text {
  font-size: 1.5rem;
  font-family: monospace;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.player-container .rhap_container.rhap_loop-off {
  position: absolute;
  bottom: -120px;
  padding: 60px 50px 130px 50px;
  background-color: #cd2e2e;
  border-radius: 50%;
}

.player-container .rhap_current-time,
.player-container .rhap_total-time {
  color: #fff;
}
